<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>subculture</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		{{!-- Header --}}
		<div class="header">
			<div class="header-left">
				<a href="/" class="logo">
					<img src="/images/logo-small.svg" alt="Subcultured" class="logo-image">
					<span class="logo-text">Subcultured</span>
				</a>
				<nav class="nav">
					<a href="/episodes" class="nav-item">Episodes</a>
					<a href="/blog" class="nav-item">Blog</a>
				</nav>
			</div>
			<div class="header-right">
				<a href="/subscribe" class="subscribe-button">Subscribe</a>
			</div>
		</div>
		{{!-- /Header --}}

		<div class="bigplayer">
			<p class="bigplayer-quote">
				I was crazy over him because I thought he was this <b>flawless and totally synthetic creature</b>.
			</p>

			<hr>
		</div>

		{{!-- Main container --}}
		<div class="main">
			{{!-- Content --}}
			<div class="main-content">
				<h2>Episodes</h2>

				<section class="episode">
					<h3 class="episode-title"><a href="#"><b>01</b> / Sonic Passion</a></h3>
					<div class="episode-body">
						<div class="episode-body-thumbnail">
							<img src="//placehold.it/150x150" alt="Sonic Passion">
						</div>
						<div class="episode-body-info">
							<p>Ten years ago, a woman took Sonic the Hedgehog’s hand in marriage, and created a message board to share her love. However, she would later make a discovery about the true nature of artificial beings, ruining her love forever.</p>

							<blockquote>"I was crazy over him because I thought he was this flawless and totally synthetic creature."</blockquote>
						</div>
					</div>
				</section>

				<section class="episode">
					<h3 class="episode-title"><a href="#"><b>01</b> / Sonic Passion</a></h3>
					<div class="episode-body">
						<div class="episode-body-thumbnail">
							<img src="//placehold.it/150x150" alt="Sonic Passion">
						</div>
						<div class="episode-body-info">
							<p>Ten years ago, a woman took Sonic the Hedgehog’s hand in marriage, and created a message board to share her love. However, she would later make a discovery about the true nature of artificial beings, ruining her love forever.</p>

							<blockquote>"I was crazy over him because I thought he was this flawless and totally synthetic creature."</blockquote>
						</div>
					</div>
				</section>

				<section class="episode">
					<h3 class="episode-title"><a href="#"><b>01</b> / Sonic Passion</a></h3>
					<div class="episode-body">
						<div class="episode-body-thumbnail">
							<img src="//placehold.it/150x150" alt="Sonic Passion">
						</div>
						<div class="episode-body-info">
							<p>Ten years ago, a woman took Sonic the Hedgehog’s hand in marriage, and created a message board to share her love. However, she would later make a discovery about the true nature of artificial beings, ruining her love forever.</p>

							<blockquote>"I was crazy over him because I thought he was this flawless and totally synthetic creature."</blockquote>
						</div>
					</div>
				</section>
			</div>
			{{!-- /Content --}}

			{{!-- Sidebar --}}
			<div class="main-sidebar">
				<section>
					<h2>About</h2>
					<p>Somewhere on the Internet, a group of writers have produced hundreds of stories about a boring man and his cat. Elsewhere, a devoted Buffy the Vampire Slayer fan maintains a message board with a history of 40,000 posts—all written by her.</p>

					<p>Online summer camps; dwarven kingdoms; elevator enthusiasts; the Internet is a big place. Let us be your guides through the interesting, the eccentric, and occasionally, the pornographic. Subculture is an exploration of niche Internet communities and the human behaviors that drive them.</p>

					<div class="bio">
						<div class="bio-image">
							<img src="//placehold.it/80x80" alt="Geoff Kimball">
						</div>
						<div class="bio-text">
							<p><strong>Geoff Kimball</strong> is a product designer and web developer in San Jose, California.</p>
						</div>
					</div>

					<div class="bio">
						<div class="bio-image">
							<img src="//placehold.it/80x80" alt="Drew Siner">
						</div>
						<div class="bio-text">
							<p><strong>Drew Siner</strong> is a video and audio producer in Bloomington, Indiana.</p>
						</div>
					</div>
				</section>

				<section>
					<h2>Subscribe</h2>

					<a href="" class="link">iTunes</a>
					<a href="" class="link">Spotify</a>
					<a href="" class="link">Soundcloud</a>
					<a href="" class="link">RSS</a>
				</section>
			</div>
			{{!-- /Sidebar --}}
		</div>
		{{!-- /Main container --}}

		{{!-- Footer --}}
		<footer class="footer">
			<div class="footer-inner">
				<p class="footer-tagline"><a href="/">Subcultured</a> is a podcast.</p>
				<nav class="footer-links">
					<a href="/" class="footer-links-item">Episodes</a>
					<a href="/" class="footer-links-item">Blog</a>
					<a href="/" class="footer-links-item">iTunes</a>
					<a href="/" class="footer-links-item">Spotify</a>
					<a href="/" class="footer-links-item">RSS</a>
				</nav>
				<nav class="footer-links">
					<a href="/" class="footer-links-item">hi@subcultured.show</a>
				</nav>
			</div>
		</footer>
		{{!-- /Footer --}}

		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
