{{!-- Main container --}}
<div class="main">
	{{!-- Content --}}
	<div class="main-content">
		<h1>Episodes</h1>

		{{ debug }}

		{{#if data.episodes.length}}
			{{#each data.episodes}}
				{{> episode this}}
			{{/each}}
		{{else}}
			<p>No episodes have been published yet.</p>
		{{/if}}
	</div>
	{{!-- /Content --}}

	{{!-- Sidebar --}}
	<div class="main-sidebar">
		{{> subscribe}}
	</div>
	{{!-- /Sidebar --}}
</div>
{{!-- /Main container --}}
