<div class="main">
  <div class="main-content">
    <h1>Subscribe</h1>

    <p>Use these fun programs to listen to <i>Subcultured</i>:</p>

    <ul class="inline-list">
      <li class="inline-list-item"><a href="#" class="large link">iTunes</a></li>
      <li class="inline-list-item"><a href="#" class="large link">Spotify</a></li>
      <li class="inline-list-item"><a href="#" class="large link">Soundcloud</a></li>
    </ul>

    <p>Or plug the raw feed into your software of choice:</p>

    <input type="text" class="subscribe-url" readonly value="http://subcultured.show/feed">

    <p>Follow us on Twitter to find out when we release new episodes:</p>

    <a href="https://twitter.com/SubculturedShow" class="large link">@SubculturedShow</a>
  </div>
</div>
