<section>
  <h2>About</h2>
  <p>Somewhere on the Internet, a group of writers have produced hundreds of stories about a boring man and his cat. Elsewhere, a devoted <i>Buffy the Vampire Slayer</i> fan maintains a message board with a history of 40,000 posts—all written by her.</p>

  <p>Online summer camps; dwarven kingdoms; elevator enthusiasts; the Internet is a big place. Let us be your guides through the interesting, the eccentric, and occasionally, the pornographic. Subculture is an exploration of niche Internet communities and the human behaviors that drive them.</p>

  <div class="bio">
    <div class="bio-image">
      <img src="/images/photo-geoff.png" alt="Geoff Kimball">
    </div>
    <div class="bio-text">
      <p><a href="http://twitter.com/geoffkimball">Geoff Kimball</a> is a product designer and web developer in San Jose, California.</p>
    </div>
  </div>

  <div class="bio">
    <div class="bio-image">
      <img src="/images/photo-drewb.png" alt="Drew Siner">
    </div>
    <div class="bio-text">
      <p><a href="http://twitter.com/dmsiner">Drew Siner</a> is a video and audio producer in Bloomington, Indiana.</p>
    </div>
  </div>
</section>
