.bigplayer {
  width: 980px;
  margin: 2rem auto;
  padding-left: 15px;
  padding-right: 15px;

  hr {
    background: #999;
  }
}

.bigplayer-quote {
  font-size: 60px;
  font-weight: 300;
  position: relative;

  p {
    line-height: 71px;
  }

  // Quote image
  &::before {
    content: '';
    display: block;
    width: 129px;
    height: 107px;
    background: transparent url('../images/quote-marks.svg') no-repeat;
    background-size: 129px 107px;
    position: absolute;
    top: 13px;
    right: 100%;
    margin-right: 40px;
  }
}
