.episode {
  margin-bottom: 2rem;
}

.episode-title {
  font-size: 20px;
  color: #f00;
  line-height: 1.9;
  border-bottom: 1px solid #f00;
  margin-bottom: 26px;

  a {
    border: 0;
  }
}

.episode-body {
  @include media-object-container;
}

.episode-body-thumbnail {
  @include media-object-section;
  margin-right: 16px;

  img {
    width: 150px;
    height: 150px;
    border: 1px solid #999;
  }
}

.episode-body-info {
  @include media-object-section;
}

.episode-body-info-quote {
  font-style: italic;

  p::before,
  p::after {
    content: '"';
  }

  strong {
    font-weight: normal;
  }
}
