.link {
  font-size: 18px;
  border: 0;
  font-weight: bold;
  display: block;
  line-height: 2;

  &:hover {
    color: #900;
  }
}

.big-link {
  @extend .link;
  text-align: center;
  font-size: 22px;
}
